/* Componentes do HTML */
input {
  width: 100%;
  padding: 1rem;
  margin: 8px 1px 8px 1px; /* Top right bottom left */
  display: flex;
  border: 1px solid #fff;
  border-radius: 20px;
  box-sizing: border-box;
}

/* Trabalhando com ID */
#image {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

#input {
  border-radius: 5px;
  background-color: #1f1f1f;
  margin: auto;
  width: 40%;
  padding: 10px;
}

#song-list {
  background: #1f1f1f !important;
  font: normal 16pt Sans-serif;
  color: #e4e1e1;
}

#btn-add {
  color: #fff;
  background: #1db954;
  border-color: #1aa34a;
  text-transform: uppercase;
  white-space: normal;
  letter-spacing: 2px;
  font: bold 12pt Arial;
  text-align: center;
  display: block;
}

#body {
  background: #1f1f1f;
}

/* Trabalhando com CLASS */

.full-body {
  background: #e4e1e1;
}

.head {
  background: #1f1f1f;
}

.btn {
  margin: 1rem 0px 1rem 0px !important; /* Top right bottom left */
}

.label {
  color: white;
  font: bold 14pt Sans-serif;
}
